/* Сброс стилей */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Страница */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

/* Основной контейнер (GRID) */
.container {
    display: grid;
    width: 800px;
    height: 600px;
    background-color: #fff;
    border: 2px solid #000;
    grid-template-columns: 250px auto;
    grid-template-rows: 60px 1fr 40px;
}

/* Хедер */
.header {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
    padding: 10px 15px;
}

/* Боковое меню */
.chat-list {
    background-color: #f7f7f7;
    border-right: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

/* Чат-окно */
.chat-window {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
}

/* Сообщения */
.messages {
    flex-grow: 1;
    background: #e5e5e5;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

/* Блок сообщения */
.message {
    background-color: #cce5ff;
    padding: 6px 8px;
    border-radius: 6px;
    margin-bottom: 8px;
    max-width: fit-content;
    word-break: break-word;
}

/* Сообщение собеседника */
.message--foreign {
    margin-left: auto;
}

/* Поле ввода */
.message-input {
    padding: 8px 10px;
    width: 100%;
    border: 1px solid #ccc;
}

/* Футер */
.footer {
    grid-column: 1 / span 2;
    background-color: #ddd;
    text-align: center;
    padding: 8px;
}

ul {
    list-style-type: none;
}